.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.fullName {
  display: flex;
  align-items: flex-end;
  width: 100px;
  flex: 1 1;
  text-align: right;
  color: var(--color-one);
  font-family: var(--font-default);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.picture {
  --size: 64px;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  background: var(--color-picture);
}

@media screen and (max-width: 600px) {
  .fullName {
    font-size: 12px;
  }

  .picture {
    --size: 32px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
  }
}
